/***********************
* Main css style
***********************/
table{
	text-transform: capitalize;
}
table td img{
	width: 22px;
}
.table>thead:first-child>tr:first-child>th {
    background: #eee;
}
.panel-default {
    border-color: #d9edf7;
}
.panel-default>.panel-heading {
    color: #264E63;
    background-color: #d9edf7;
    border-color: #d9edf7;
}